
Prototype Sketches/~$left Torsion Spring.SLDPRT
Prototype Sketches/~$ClimberRev2.SLDASM
Prototype Sketches/~$1x1x20 box extrusion for climber.SLDPRT
Prototype Sketches/left Torsion Spring.SLDPRT
Prototype Sketches/ClimberRev2.SLDASM
Prototype Sketches/1x1x20 box extrusion for climber.SLDPRT
Intake/~$VersaPlanetary v2 Single Stage 10_1 with BAG .step.SLDASM
Intake/~$832-1750-Ring-Gear-Screw_SSA0832-0500ZC.step.SLDPRT
Intake/~$217-4649-007 Rev1_94105A824.step.SLDPRT
Intake/~$217-4649-006 Rev1_SSA0004-008BA.step.SLDPRT
Intake/~$217-4649-002 Rev1_SSA0832-0500ZC.step.SLDPRT
Intake/~$217-4649-001 Rev1.step.SLDPRT
Intake/~$217-3351 Rev2.step.SLDPRT
Intake/~$217-2822-003 Rev4.step.SLDPRT
Intake/~$217-2820 Rev1_Public.step.SLDASM
Intake/~$217-2816-001 Rev1.step.SLDPRT
Intake/~$217-2742-001 Rev4.step.SLDPRT
Intake/~$217-2625-100.step.SLDASM
Intake/~$217-2625-026 Rev1.step.SLDPRT
Intake/~$217-2625-025 Rev1.step.SLDPRT
Intake/~$217-2625-018 Rev1_98541A410.step.SLDPRT
Intake/~$217-2625-017 Rev1_9714K61.step.SLDPRT
Intake/~$217-2625-011 Rev1.step.SLDPRT
Intake/~$217-2625-010 Rev1.step.SLDPRT
Intake/~$217-2625-008 Rev1.step.SLDPRT
Intake/~$217-2625-007 Rev1_Public.step.SLDPRT
Intake/~$217-2625-005 Rev1_Planet_Revolving_Follower01.step.SLDPRT
Intake/~$217-2625-003 Rev1.step.SLDPRT
Drawings/Short Bumper Piece.SLDDRW
Drawings/Long Bumper Piece.SLDDRW
Drawings/Bumper Noodles.SLDDRW
Chassis/Bumper half frame.SLDASM
Chassis/Bumper 2 piece short.SLDPRT
Chassis/Bumper 2 piece long.SLDPRT
Bumper half frame.SLDDRW
*.SLDDRW
Chassis/Bumper half frame.SLDASM
Chassis/Bumper 2 piece short.SLDPRT
Chassis/Bumper 2 piece long.SLDPRT
~$REV-21-2104.step.SLDPRT
~$Master.SLDASM
~$Master (2).SLDASM
~$crescendo NOTE.SLDPRT
Shooter/~$VersaBlock V2 (217-6111).step.SLDPRT
Shooter/~$ThickStick.SLDPRT
Shooter/~$side.SLDPRT
Shooter/~$ShooterPlate5.SLDPRT
Shooter/~$ShooterPlate4.SLDPRT
Shooter/~$shooteraxle.SLDPRT
Shooter/~$ShooterAssem5.SLDASM
Shooter/~$Shooter mount.SLDPRT
Shooter/~$shooter mount bracket.SLDPRT
Shooter/~$Shooter Hardstop.SLDPRT
Shooter/~$Motor support2.SLDPRT
Shooter/~$am-4119 8mm Key Hub.step.SLDPRT
Shooter/~$am-2986 FR8ZZ Hex Bearing.step.SLDPRT
Shooter/~$4in hex stealth wheel.SLDASM
Shooter/~$4in hex shaft.SLDPRT
Shooter/~$1_2” Hex Bore Aluminum VersaHub (217-2592).step.SLDPRT
Resources/~$Hex Shaft 19in.SLDPRT
Resources/~$Hex Bearing.SLDPRT
Resources/Motors/~$ip-4187 Spline to 500 Hex.step.SLDPRT
Resources/Motors/~$Falcon Mount.SLDPRT
Resources/Motors/~$775 motor mount.SLDPRT
Resources/Gear Boxes/~$Intake Motor stuff.SLDASM
Resources/Gear Boxes/~$Bracket for neo.SLDPRT
Resources/Gear Boxes/~$4-1 Banebots.SLDPRT
Resources/Gear Boxes/~$2.5in Axle.SLDPRT
Prototype Sketches/~$chasis box for climber prototype.SLDPRT
Prototype Sketches/~$Candy cane claw.SLDPRT
Intake/~$Wheel 3IN 500Hex_am-3945.SLDPRT
Intake/~$USE THIS SIDE INTAKE PLATE.SLDPRT
Intake/~$IntakeChassisAxleCirclePlate.SLDPRT
Intake/~$Intake Shield Bracket.SLDPRT
Intake/~$Intake Plate v2 - Motor Side.SLDPRT
Intake/~$Intake Assembly v1.SLDASM
Intake/~$Insert for Belt Wheels.SLDPRT
Intake/~$DeflectorPlate.SLDPRT
Intake/~$Axle Support AHHHH.SLDPRT
Intake/~$Axle Mount.SLDASM
Intake/~$21in Axle.SLDPRT
Hanger/~$other side of climber.SLDASM
Hanger/~$new climber design.SLDASM
Hanger/~$End Bearing Holder.SLDPRT
Hanger/~$End Bearing Holder back.SLDPRT
Hanger/~$ClimberRev2.SLDASM
Hanger/~$ClimberRev2 back.SLDASM
Hanger/~$Climber Insert Rev3 Outer.SLDPRT
Hanger/~$Climber Insert Rev3 Inner.SLDPRT
Hanger/~$Climb Bearing Holder.SLDPRT
Hanger/~$Another Bearing Holder.SLDPRT
Hanger/~$1x1x20 box extrusion for climber upper.SLDPRT
Hanger/~$1in Spacers.SLDPRT
Hanger/Climb Phase 2/~$Climber vsomething with fold.SLDASM
Hanger/Climb Phase 2/~$Climber vsomething with fold back.SLDASM
Hanger/Climb Phase 2/~$Climb Mount small.SLDPRT
Hanger/Climb Phase 2/~$Climb Mount large.SLDPRT
Hanger/Climb Phase 2/~$Climb axle.SLDPRT
Electrical/~$Talon SRX (217-8080).SLDASM
Chassis/~$T Bracket.SLDPRT
Chassis/~$Second lexan plate for cage.SLDPRT
Chassis/~$Middle 23.5in 2x1.SLDPRT
Chassis/~$Lexan Reflector.SLDPRT
Chassis/~$Lexan plate for cage.SLDPRT
Chassis/~$Corner Bracket.SLDPRT
Chassis/~$Chassis.SLDASM
Chassis/~$Bumper half frame.SLDASM
Chassis/~$Bumper Bracket.SLDPRT
Chassis/~$Bumper 2 piece short.SLDPRT
Chassis/~$Bumper 2 piece short left.SLDPRT
Chassis/~$Bumper 2 piece pool noodle short.SLDPRT
Chassis/~$Bumper 2 piece pool noodle long.SLDPRT
Chassis/~$Bumper 2 piece long.SLDPRT
Chassis/~$Belly Pan.SLDPRT
Chassis/~$90 degree bracket.SLDPRT
Chassis/~$7in 1x1.SLDPRT
Chassis/~$7in 1x1 middle.SLDPRT
Chassis/~$26in 1x1.SLDPRT
Chassis/~$25.5in 2x1.SLDPRT
Chassis/~$23.5in 2x1.SLDPRT
Chassis/~$23.5in 2x1 righgt.SLDPRT
Chassis/~$2.88in 1x1.SLDPRT
Chassis/~$2.88in 1x1 front.SLDPRT
Chassis/~$135 degree top of chassis bracket (2).SLDPRT
Chassis/~$135 degree bracket.SLDPRT
Chassis/~$12in slanted 1x1.SLDPRT
Chassis/~$12.30in slanted 1x1 right.SLDPRT
Chassis/~$12.30in slanted 1x1 left.SLDPRT
Chassis/~$0.5in spaced 90 degree bracket.SLDPRT
Chassis/23.5in 2x1.SLDPRT
