
Prototype Sketches/~$left Torsion Spring.SLDPRT
Prototype Sketches/~$ClimberRev2.SLDASM
Prototype Sketches/~$1x1x20 box extrusion for climber.SLDPRT
Prototype Sketches/left Torsion Spring.SLDPRT
Prototype Sketches/ClimberRev2.SLDASM
Prototype Sketches/1x1x20 box extrusion for climber.SLDPRT
Intake/~$VersaPlanetary v2 Single Stage 10_1 with BAG .step.SLDASM
Intake/~$832-1750-Ring-Gear-Screw_SSA0832-0500ZC.step.SLDPRT
Intake/~$217-4649-007 Rev1_94105A824.step.SLDPRT
Intake/~$217-4649-006 Rev1_SSA0004-008BA.step.SLDPRT
Intake/~$217-4649-002 Rev1_SSA0832-0500ZC.step.SLDPRT
Intake/~$217-4649-001 Rev1.step.SLDPRT
Intake/~$217-3351 Rev2.step.SLDPRT
Intake/~$217-2822-003 Rev4.step.SLDPRT
Intake/~$217-2820 Rev1_Public.step.SLDASM
Intake/~$217-2816-001 Rev1.step.SLDPRT
Intake/~$217-2742-001 Rev4.step.SLDPRT
Intake/~$217-2625-100.step.SLDASM
Intake/~$217-2625-026 Rev1.step.SLDPRT
Intake/~$217-2625-025 Rev1.step.SLDPRT
Intake/~$217-2625-018 Rev1_98541A410.step.SLDPRT
Intake/~$217-2625-017 Rev1_9714K61.step.SLDPRT
Intake/~$217-2625-011 Rev1.step.SLDPRT
Intake/~$217-2625-010 Rev1.step.SLDPRT
Intake/~$217-2625-008 Rev1.step.SLDPRT
Intake/~$217-2625-007 Rev1_Public.step.SLDPRT
Intake/~$217-2625-005 Rev1_Planet_Revolving_Follower01.step.SLDPRT
Intake/~$217-2625-003 Rev1.step.SLDPRT
