
Chassis/~$23.5in 2x1.SLDPRT
Chassis/~$25.5in 2x1.SLDPRT
Chassis/~$Belly Pan.SLDPRT
Chassis/~$Chassis.SLDASM
Chassis/~$Corner Bracket.SLDPRT
Chassis/~$Middle 23.5in 2x1.SLDPRT
Chassis/~$T Bracket.SLDPRT
Resources/~$Swerve Module.SLDASM
~$Master.SLDASM
Shooter/~$Shooter Sketch - TOP.SLDPRT
Shooter/~$Shooter Sketch - SIDE.SLDPRT
Shooter/~$Shooter mount.SLDPRT
Shooter/~$4in hex stealth wheel.SLDASM
Shooter/~$2x1 4in with hole.SLDPRT
Shooter/Support Churro.SLDPRT
Shooter/side.SLDPRT
Shooter/Shooter Sketch - TOP.SLDPRT
Shooter/Shooter Sketch - SIDE.SLDPRT
Shooter/Shooter mount.SLDPRT
Shooter/4in hex stealth wheel.SLDASM
Shooter/4in hex shaft.SLDPRT
Shooter/2x1 4in with hole.SLDPRT
Prototype Sketches/2D design \#1 Max.SLDPRT
Master.SLDASM
Intake/Intake Plate Drawing.PDF
Andrew/thing2.SLDASM
Andrew/Pin - Small.SLDPRT
Andrew/Hanger Bracket.SLDPRT
Andrew/Grooved Base.SLDPRT
Andrew/Central Mount.SLDPRT
Andrew/block.SLDPRT
Andrew/Arm.SLDPRT
Andrew/3.SLDASM
